<div ng-init="init()" class="home">

    <div class="container-fluid">
        <div class="panel panel-default">
                    <div odometer-display data-odometer></div>
                    <i class="fa fa-eur fa-5x" style="vertical-align: middle;"></i>
        </div>
    </div>

    <!-- New amount -->
    <div class="container-fluid">
        <div class="row" >
            <div class="col-xs-12">
                <accordion>
                    <accordion-group heading="Add or Remove an amount" is-open="$parent.open">
                            <form role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-euro"></i> </div>
                                        <input class="form-control" type="number" placeholder="Enter amount (euros)" ng-model="formData.monneyAmount">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i> </div>
                                        <input class="form-control" type="date"  ng-model="formData.currentDate" ng-disabled="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                <select class="form-control" ng-model="formData.typeAmount">
                                    <option>Add amount</option>
                                    <option>Remove amount</option>
                                </select>
                                </div>
                            </form>

                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn btn-danger" ng-click="cancel()"> <i class="fa fa-times"></i><span> Cancel</span></button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-success" ng-click="add()"> <i class="fa fa-check"></i><span> Validate</span></button>
                            </div>
                        </div>

                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
        <!-- List of tranfers-->
    <div class="container-fluid">
        <div class="row" >
            <div class="col-xs-6">
                <div list list-filter='dateFilter' list-type="removed" list-header-color="danger"></div>
            </div>

            <div class="col-xs-6">
                <div list list-filter='dateFilter' list-type="added" list-header-color="success"></div>
            </div>
        </div>
    </div>

</div>
